<!DOCTYPE html>
<html>
  <head>
    <title>Reactexperiments</title>
    <%= csrf_meta_tags %>
	  <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'bootstrap-lib', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <%= yield :head %>
  </head>

  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
